p{
 background-color: rgb(108, 240, 90);
}
a{
    background-color: rgb(212, 200, 224);
}


div{
background-color: rgb(149, 171, 171);
}
span{
background-color: rgb(232, 192, 131);
}





