.High{
    color: blue;
}

.Basic{
background-color: rgba(114, 91, 62, 0.193);

}


.Primary{
    color: rgb(121, 159, 15);
}

.Primary{
    background-color: rgba(109, 109, 130, 0.291);
}











